.login-button-wrapper {
  text-align: center;
  padding-top: 15px;
}

.login-button {
  background: none;
  width: 40px;
  height: 40px;
  border: 3px solid $text-primary;
  border-radius: 50%;
  color: $text-primary;
  line-height: 0;
  font-size: 23px;
  padding-left: 8px;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.login-button:focus {
  outline: none;
}
