@import './colors.scss';

.navbar {
  position: fixed;
  top: 65px;
  z-index: 1000;

  padding-left: 24px;

  font-size: 2rem;
  font-family: serif;
  font-style: italic;

  left: -150px;
  transition: left .25s ease-in-out;
  -webkit-transition: left .25s ease-in-out;
  -moz-transition: left .25s ease-in-out;
  -o-transition: left .25s ease-in-out;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li a {
    color: $text-primary;
    text-decoration: none;
  }

  li a.active {
    font-weight: bold;
  }
}

.navbar-button {
  width: 40px;
  height: 40px;
  display: block;
  position: fixed;

  top: 20px;
  left: 20px;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;

  cursor: pointer;
}

.navbar.open {
  left: 0;
}

.navbar-button span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;

  background: $text-primary;

  opacity: 1;
  left: 0;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.navbar-button span:nth-child(1) {
  top: 0;
}

.navbar-button span:nth-child(2),
.navbar-button span:nth-child(3) {
  top: 12px;
}

.navbar-button span:nth-child(4) {
  top: 24px;
}

.navbar-button.open span:nth-child(1) {
  top: 12px;
  width: 0;
  left: 50%;
}

.navbar-button.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar-button.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navbar-button.open span:nth-child(4) {
  top: 12px;
  width: 0;
  left: 50%;
}
